@import './variables';

.highlight {
  position: relative;
  width: fit-content;
  z-index: 0;
}

.highlight::before {
  content: '';
  background: linear-gradient(
      104deg,
      rgb(228, 201, 160, 0) 0.9%,
      rgb(228, 201, 160, 0.55) 12.4%,
      rgb(228, 201, 160, 0.5) 55.8%,
      rgb(228, 201, 160, 0.41) 93%,
      rgb(228, 201, 160, 0.7) 96%,
      rgb(131, 117, 982, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgb(228, 201, 160, 0) 0%,
      rgb(228, 201, 160, 0.3) 7.9%,
      rgb(228, 201, 160, 0) 15%
    );
  position: absolute;
  width: calc(100% - 20px);
  top: -2px;
  left: -8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 7.5px;
  text-shadow:
    -12px 12px 9.8px rgb(228, 201, 160, 0.7),
    21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
  z-index: -1;
  padding: 1rem;
}
