$breakpoint: 1000px;

$grey50: #f4f5f7;
$grey100: #e4e8e9;
$grey200: #cbd2d6;
$grey300: #a8b3b8;
$grey400: #7c8d94;
$grey500: #617179;
$grey600: #536067;
$grey700: #485156;
$grey800: #3f464b;
$grey900: #393e42;
$grey950: #232629;

$beige: #ECE9DE;
$white: #FFFFFF;
$grey: $grey900;
$blue: #4B6269;
$brown: #CDB694;
